@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
$bgcolor: #222;
$darkgray: #333;
$gray: #444;
$textcolor: #f5f5f5;
$transparent: rgba(0,0,0,0);
$basicfont: 'Titillium Web', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}  
body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-color: $bgcolor;
    font-family: $basicfont;
    font-size: 24px;
    color: $textcolor;
    background-color: #222;
    opacity: 1;
    background-image: linear-gradient(60deg, $darkgray 0.98%, $transparent 0.98%, $transparent 50%, $darkgray 50%, $darkgray 50.98%, $transparent 50.98%, $transparent 100%), linear-gradient(-60deg, $darkgray 0.98%, $transparent 0.98%, $transparent 50%, $darkgray 50%, $darkgray 50.98%, $transparent 50.98%, $transparent 100%);
    background-size: 58.89px 102.00px;
}

.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1440px;
    background: linear-gradient(
        to right,
        $transparent,
        $bgcolor 10%,
        $bgcolor 90%,
        $transparent
    );
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: center;
    text-shadow: black 1px 0 10px;
    a{
        margin: 0px 15px;
    }
}
a, a:visited{
    text-decoration: none;
    color: $textcolor;
    text-shadow: crimson 1px 1px 3px;
}
a:hover{
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    animation: shine 2s infinite;
    cursor: pointer;
}
  
main {
    flex: 1 auto;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    width: 80%;
}

footer {
    height: 40px;
    text-align: center;
    width: 80%;
}

h1{
    font-size: 64px;
    margin: 5px;
    align-self: center;
    text-shadow: 1px 1px 5px black;
    span{
        color: $gray;
    }
}
h2{
    width: 100%;
    border: 1px solid $gray;
    margin: 15px 5px 30px;
    padding-left: 20px;
    box-shadow: 2px 2px 5px black;
    background: linear-gradient(
        to bottom,
        $darkgray,
        $transparent,
        $bgcolor
    ),
    repeating-linear-gradient(
        -60deg,
        $bgcolor,
        $bgcolor 10px,
        $darkgray 10px,
        $darkgray 20px
    );
}

p{
    margin: 0px 25px 50px 25px;
}


::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none;
    outline: none;
    background-color: $gray; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px;
  }
  
#topBtn:hover {
    background-color: crimson;
}


.player{
    width: 50%;
    height: 120px;
    border: 0;
}

@media screen and (max-width: 600px) {
    body{
        font-size: 16px;
    }
    h1{
        margin: 15px;
        font-size: 32px;
    }
    .player{
        width: 100%;
    }
}
@media screen and (min-width: 600px) and (max-width: 1000px){
    .player{
        width: 100%;
    }
}

@keyframes shine {
    from {
      mask-position: 150%;
    }
    to {
      mask-position: -50%;
    }
  }

.animate {
animation-duration: 2.5s;
animation-name: animate-fade;
animation-fill-mode: backwards;
animation-delay: 0.5s;
}
@keyframes animate-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}